@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .text{
        @apply text-gray-400
    }
    .btn-primary{
        @apply px-5 py-1 text-white transition-all duration-300 bg-red-400 mt-2 hover:bg-green-400
    }
    .nav-links{
        @apply text-gray-700 text-sm font-semibold transition-all duration-300 hover:text-red-500
    }
    .active_links{
        @apply text-red-500
    }
    .selectColor{
        @apply border border-gray-300 px-4 py-1 rounded-sm outline-none text
    }
    .sec_p{
        @apply px-[0px] py-[5em]
    }
    .table{
        @apply text-sm text-gray-400 font-semibold w-[275px] min-w-[160px] text-center
    }
    .input_search{
        @apply rounded-md outline-none block w-full border border-gray-300 px-12 py-2
    }
    .input_auth{
        @apply rounded-md outline-none block w-full border border-gray-300 p-4
    }
    .label{
        @apply rounded-md outline-none block w-full mt-2 mb-3
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
label,
input,
textarea {
    font-family: 'Montserrat', sans-serif;
}

.user img {
    border-radius: 50px;
}

.rhap_container{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .rhap_play-pause-button{
    color: #ff0000 !important;
    transition: all 0.3s ease-in-out;
  }
  
  .rhap_play-pause-button:hover{
    transform: scale(1.2);
  }
  
  .rhap_forward-button, .rhap_rewind-button, .rhap_skip-button, .rhap_volume-button, .rhap_repeat-button{
    transition: all 0.3s ease-in-out;
  }
  
  .rhap_forward-button:hover, .rhap_rewind-button:hover, .rhap_skip-button:hover, .rhap_volume-button:hover, .rhap_repeat-button:hover{
    transform: scale(1.2);
    color : #555 !important;
  }
  
  .rhap_progress-filled{
    background-color: #ff0000 !important;
  }
  
  .rhap_progress-indicator, .rhap_volume-indicator{
    background: #b4b4b4  !important;
  }
  
  .rhap_progress-indicator:hover, .rhap_volume-indicator:hover{
    transform: scale(1.2);
  }
  
  .rhap_download-progress, .rhap_volume-bar{
    background-color: #ff000033 !important; 
  }