@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .text{
        @apply text-gray-400
    }
    .btn-primary{
        @apply px-5 py-1 text-white transition-all duration-300 bg-red-400 mt-2 hover:bg-green-400
    }
    .nav-links{
        @apply text-gray-700 text-sm font-semibold transition-all duration-300 hover:text-red-500
    }
    .active_links{
        @apply text-red-500
    }
    .selectColor{
        @apply border border-gray-300 px-4 py-1 rounded-sm outline-none text
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
label,
input,
textarea {
    font-family: 'Montserrat', sans-serif;
}

.user img {
    border-radius: 50px;

}